@import "_normalize";
@import "_variables";
html {
    box-sizing: border-box;
    font-size: 16px;
    ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $yellow;
    background: $violet;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    &__element {
        &::before {
            content: "\2022";
            color: #ff0000;
            font-weight: bold;
            display: inline-block;
            width: 1rem;
            margin-left: -1rem;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        color: #48ff00;
    }
}